@{
    ViewData["Title"] = "HomeIndex";
}

<main class="bg-img">
    <div class="card text-center shadow">
        <div class="card-body">
            <h1>Azioni Disponibili</h1>
            <h3 class="mb-4">Registra o visualizza i clienti</h3>
            <div>
                <a href="/Prenotaziones/Index" class="btn btn-warning rounded-pill text-black">Prenotazioni</a>
                <a href="/Cameras/Index" class="btn btn-warning rounded-pill text-black">Camere</a>
                <a href="/Clientis/Index" class="btn btn-warning rounded-pill text-black">Clienti</a>
                <a href="/Servizis/Index" class="btn btn-warning rounded-pill text-black">Servizi</a>
            </div>
        </div>
    </div>
</main>